In [7]:
import requests # 웹 페이지 읽어오기
from bs4 import BeautifulSoup as bs # 페이지 정제

url='https://finance.naver.com/item/main.naver?code=005930'

txt = requests.get(url)
html = bs(txt.text)

In [3]:
len(html.select('em.no_up'))

6

In [4]:
html.select('em.no_up')

[<em class="no_up">
 <span class="blind">61,400</span>
 <span class="no6">6</span><span class="no1">1</span><span class="shim">,</span><span class="no4">4</span><span class="no0">0</span><span class="no0">0</span>
 </em>,
 <em class="no_up">
 <span class="ico up">상승</span>
 <span class="blind">800</span>
 <span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
 </em>,
 <em class="no_up">
 <span class="ico plus">+</span>
 <span class="blind">1.32</span>
 <span class="no1">1</span><span class="jum">.</span><span class="no3">3</span><span class="no2">2</span>
 <span class="per">%</span>
 </em>,
 <em class="no_up">
 <span class="blind">61,500</span><span class="no6">6</span><span class="no1">1</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
 </em>,
 <em class="no_up">
 <span class="blind">60,900</span><span class="no6">6</span><span class="no0">0</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
 </em>,
 <em class="no_up">
 <span class="blind">60,800</span><span class="no6">6</span><span class="no0">0</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
 </em>]

In [5]:
html.select('em.no_up')[0].text

'\n61,400\n61,400\n'

In [6]:
html.select('em.no_up > span.blind')[0].text

'61,400'

In [8]:
import requests # 웹 페이지 읽어오기
from bs4 import BeautifulSoup as bs

url='https://finance.naver.com/item/main.naver?code=005930'

txt = requests.get(url)
html = bs(txt.text)

html.select('em.no_up > span.blind')[0].text

'61,600'

In [11]:
# !pip install pykrx  # 주가 조회 모듈

from pykrx import stock
stock.get_market_ohlcv('20230201', '20230228', '005930')

               시가     고가     저가     종가       거래량           거래대금   등락률
날짜
2023-02-01  62600  62700  61000  61800  18570133  1145781815984  1.31
2023-02-02  63200  63900  62600  63500  23285983  1474629229812  2.75
2023-02-03  63900  64000  63000  63800  15194598   967336146677  0.47
2023-02-06  62800  63000  61600  61600  15529356   967890468300 -3.45
2023-02-07  61900  62500  61600  61900  14491039   898617000700  0.49
2023-02-08  62800  63300  62400  63100  12243125   770472521000  1.94
2023-02-09  63000  63300  62300  63000  12164865   764921355400 -0.16
2023-02-10  62600  63000  62400  62800   9382576   587897501100 -0.32
2023-02-13  62900  63000  62300  62900  10730362   672253190500  0.16
2023-02-14  63600  63900  63200  63200   9126664   579858006300  0.48
2023-02-15  63900  63900  62000  62200  13208103   826031235400 -1.58
2023-02-16  62500  63700  62400  63700  13798831   873759607962  2.41
2023-02-17  62900  63300  62400  62600  10791265   677809979471 -1.73
2023-02-20  62900  63000  61800  62700  12908073   806198780800  0.16
2023-02-21  62700  62800  62000  62100   7665046   476711896776 -0.96
2023-02-22  61500  61800  61000  61100  11959088   732238903100 -1.61
2023-02-23  61700  62500  61500  62000  13047099   809465376980  1.47
2023-02-24  62300  62600  61300  61300  10308143   638634052687 -1.13
2023-02-27  60800  60800  60200  60500  11155697   674292520900 -1.31
2023-02-28  60800  61400  60500  60600  13715861   834902635220  0.17

In [13]:
# !pip install yfinance

import yfinance as yf
yf.download('AAPL', start='2023-02-28')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-28,147.050003,149.080002,146.830002,147.410004,147.410004,50547000
2023-03-01,146.830002,147.228500,145.009995,145.309998,145.309998,51688609

In [14]:

yf.download('TSLA', start='2023-02-28')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-28,210.589996,211.229996,203.750000,205.710007,205.710007,153144900
2023-03-01,206.210007,207.198700,198.520401,202.770004,202.770004,147701973

In [ ]:
import requests

url = "https://api.bithumb.com/public/ticker/ALL_KRW"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

print(response.text)

In [18]:
# import requests # 빗썸은 requests를 거부
from selenium import webdriver
import time
from bs4 import BeautifulSoup as bs # 페이지 정제

url = "https://www.bithumb.com/trade/order/BTC_KRW"

driver = webdriver.Chrome('chromedriver.exe')

driver.get(url)

txt = driver.page_source
html = bs(txt)  # 문법 주의

C:\Users\JUNG SO YOUNG\AppData\Local\Temp\ipykernel_5732\1106659161.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [19]:
html.select('h3.color_blue')

In [20]:
html.select('h3.color_blue')[0].text

'31,116,000'

In [21]:
# import requests # 빗썸은 requests를 거부
from selenium import webdriver
import time
from bs4 import BeautifulSoup as bs # 페이지 정제

url = "https://www.bithumb.com/trade/order/BTC_KRW"

driver = webdriver.Chrome('chromedriver.exe')

driver.get(url)

txt = driver.page_source
html = bs(txt)  # 문법 주의

html.select('h3.color_blue')[0].text

C:\Users\JUNG SO YOUNG\AppData\Local\Temp\ipykernel_5732\2961864957.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

'31,126,000'

In [ ]:
############################################
#                 Bithmb API               #
############################################

# !pip install pybithumb

# 빗썸에서 제공하는 API 설치 (최초 한 번만 설치)

In [23]:
import pybithumb as pb

print(pb.get_tickers())
# tickers 는 빗썸에서 거래 가능한 종목명을 출력

print(len(pb.get_tickers()))

['BTC', 'ETH', 'ETC', 'XRP', 'BCH', 'QTUM', 'BTG', 'EOS', 'ICX', 'TRX', 'ELF', 'OMG', 'KNC', 'GLM', 'ZIL', 'WAXP', 'POWR', 'LRC', 'STEEM', 'STRAX', 'ZRX', 'REP', 'SNT', 'ADA', 'CTXC', 'BAT', 'THETA', 'LOOM', 'WAVES', 'LINK', 'ENJ', 'VET', 'MTL', 'IOST', 'QKC', 'ATOLO', 'AMO', 'BSV', 'ORBS', 'TFUEL', 'VALOR', 'CON', 'ANKR', 'MIX', 'CRO', 'FX', 'CHR', 'MBL', 'MXC', 'FCT2', 'TRV', 'WOM', 'SOC', 'BOA', 'MEV', 'SXP', 'COS', 'EL', 'BASIC', 'HIVE', 'XPR', 'VRA', 'FIT', 'EGG', 'BORA', 'ARPA', 'CTC', 'APM', 'CKB', 'AERGO', 'CENNZ', 'EVZ', 'SRM', 'QTCON', 'UNI', 'YFI', 'UMA', 'AAVE', 'COMP', 'REN', 'BAL', 'RSR', 'NMR', 'RLC', 'UOS', 'SAND', 'GOM2', 'BEL', 'OBSR', 'ORC', 'POLA', 'ADP', 'DVI', 'GHX', 'MVC', 'BLY', 'WOZX', 'ANV', 'GRT', 'BIOT', 'XNO', 'SNX', 'SOFI', 'COLA', 'OXT', 'LINA', 'MAP', 'AQT', 'PLA', 'WIKEN', 'CTSI', 'MANA', 'LPT', 'MKR', 'SUSHI', 'ASM', 'PUNDIX', 'CELR', 'ARW', 'FRONT', 'RLY', 'OCEAN', 'BFC', 'ALICE', 'OGN', 'COTI', 'CAKE', 'BNT', 'XVS', 'SWAP', 'CHZ', 'AXS', 'DAO', 'SIX', 'DAI', 'SHIB', 'MATIC', 'WOO', 'ACH', 'VELO', 'XLM', 'WICC', 'ONT', 'META', 'KLAY', 'ONG', 'ALGO', 'JST', 'XTZ', 'MLK', 'DOT', 'ATOM', 'SSX', 'TEMCO', 'HIBS', 'DOGE', 'KSM', 'CTK', 'XYM', 'BNB', 'NFT', 'SUN', 'XEC', 'PCI', 'SOL', 'LN', 'EGLD', 'GO', 'DFA', 'C98', 'MED', '1INCH', 'BOBA', 'GALA', 'BTT', 'EFI', 'JASMY', 'TITAN', 'REQ', 'CSPR', 'AVAX', 'TDROP', 'NPT', 'REI', 'T', 'MBX', 'GMT', 'TAVA', 'DAR', 'ALT', 'XCN', 'GXA', 'AZIT', 'FLR', 'SFP', 'FITFI', 'STAT', 'CRTS', 'VIX', 'LBL', 'LM', 'BLUR']
202

In [24]:
# 비트 코인 가격 조회

print(pb.get_current_price("BTC"))

31086000.0

In [25]:
# 비트 코인 가격 반복 조회

while True:
    print(pb.get_current_price("BTC"))
    time.sleep(3)

31063000.0
31056000.0
31071000.0

KeyboardInterrupt:

In [26]:
# 모든 코인 가격 조회

tickers = pb.get_tickers()

for ticker in tickers:
    print(ticker, pb.get_current_price(ticker))
    time.sleep(1)

BTC 31089000.0
ETH 2182000.0
ETC 27900.0
XRP 502.0
BCH 176400.0
QTUM 4422.0
BTG 22440.0
EOS 1573.0

KeyboardInterrupt:

In [27]:
# 자세한 코인 가격 조회

print(pb.get_market_detail("BTC"))

# 시가 / 고가 / 저가 / 종가(현재가) / 거래량
# 튜플로 리턴한다.

(31180000.0, 31272000.0, 30937000.0, 31104000.0, 213.72198343)

In [28]:
# 자세한 모든 코인 가격 조회

tickers = pb.get_tickers()

for ticker in tickers:
    print(ticker, pb.get_market_detail(ticker))
    time.sleep(1)

BTC (31180000.0, 31272000.0, 30937000.0, 31054000.0, 229.56008343)
ETH (2180000.0, 2203000.0, 2169000.0, 2178000.0, 1889.36668367)
ETC (27990.0, 28100.0, 27790.0, 27830.0, 19666.99615325)
XRP (501.5, 506.9, 500.5, 501.5, 11087400.90135714)
BCH (176900.0, 177400.0, 175500.0, 175600.0, 1153.42824352)
QTUM (4433.0, 4463.0, 4377.0, 4385.0, 51691.49886297)

KeyboardInterrupt:

In [29]:
# 네트워크를 이용하는 경우에는 특히 에러 즉 예외가 발생할 경우가 상당히 많다.
# 따라서 1) time.sleep()을 이용한 시간 지연
#        2) try except 을 이용한 예외 처리가 중요하다.

tickers = pb.get_tickers()

try:
    for ticker in tickers:
        print(ticker, pb.get_market_detail(ticker))
        time.sleep(1)
except :
    print("예외가 발생 되었습니다.")

BTC (31180000.0, 31272000.0, 30937000.0, 31092000.0, 235.90398343)
ETH (2180000.0, 2203000.0, 2169000.0, 2181000.0, 1917.26478367)
ETC (27990.0, 28100.0, 27790.0, 27880.0, 20065.47505325)
XRP (501.5, 506.9, 500.5, 501.9, 11331743.8376119)
BCH (176900.0, 177400.0, 175500.0, 175600.0, 1153.42824352)
QTUM (4433.0, 4463.0, 4377.0, 4404.0, 52232.70226297)
BTG (22670.0, 22670.0, 22390.0, 22430.0, 2381.8312)
EOS (1571.0, 1596.0, 1568.0, 1576.0, 361895.83732112)
ICX (341.0, 350.3, 340.1, 340.8, 326817.63255761)
TRX (91.97, 92.57, 91.76, 91.95, 5988447.89339)
ELF (369.3, 372.1, 366.3, 368.3, 199218.4893)
OMG (2250.0, 2283.0, 2249.0, 2250.0, 9455.8982)
예외가 발생 되었습니다.

In [ ]:
# 상승 하락장 알람 프로그램

# 이동평균선을 사용 : 이동평균 값 보다 현재가가 높다면 상승장
# 이동평균 값 보다 현재가가 낮으면 하락장

# 03/01 1000
# 03/02 1100
# 03/03 1200
# 03/04 1100
# 03/05 1000

# 03/06 1400 상승장
# 03/06 1000 하락장

In [30]:
pb.get_ohlcv("BTC")

,open,high,low,close,volume
time,,,,,
2013-12-27 00:00:00,737000.0,755000.0,737000.0,755000.0,3.780000
2013-12-28 00:00:00,750000.0,750000.0,750000.0,750000.0,12.000000
2013-12-29 00:00:00,750000.0,750000.0,728000.0,739000.0,19.058000
2013-12-30 00:00:00,740000.0,772000.0,740000.0,768000.0,9.488973
2013-12-31 00:00:00,768000.0,800000.0,763000.0,768000.0,18.650350
...,...,...,...,...,...
2023-02-26 00:00:00,30498000.0,31047000.0,30471000.0,30890000.0,838.625344
2023-02-27 00:00:00,30897000.0,31580000.0,30833000.0,31544000.0,1205.188234
2023-02-28 00:00:00,31539000.0,31632000.0,30838000.0,31081000.0,1126.423476
2023-03-01 00:00:00,31092000.0,31580000.0,30765000.0,31193000.0,1158.565146
2023-03-02 11:00:00,31180000.0,31272000.0,30937000.0,31106000.0,252.068034

In [31]:
# 받아온 데이터는 기본적으로 데이터프레임이다.
# 데이터 프레임에서 한개의 열 즉 Series 이다.

btc = pb.get_ohlcv("BTC")
close = btc['close']
print(close)

time
2013-12-27 00:00:00      755000.0
2013-12-28 00:00:00      750000.0
2013-12-29 00:00:00      739000.0
2013-12-30 00:00:00      768000.0
2013-12-31 00:00:00      768000.0
                          ...
2023-02-26 00:00:00    30890000.0
2023-02-27 00:00:00    31544000.0
2023-02-28 00:00:00    31081000.0
2023-03-01 00:00:00    31193000.0
2023-03-02 11:00:00    31099000.0
Name: close, Length: 3263, dtype: float64

In [32]:
# 수동으로 이동평균 계산

btc = pb.get_ohlcv("BTC")
close = btc['close']

print((close[0] + close[1] + close[2] + close[3] + close[4]) / 5)
print((close[1] + close[2] + close[3] + close[4] + close[5]) / 5)
print((close[2] + close[3] + close[4] + close[5] + close[6]) / 5)

756000.0
760400.0
766000.0

In [34]:
# 자동으로 이동평균 계산

btc = pb.get_ohlcv("BTC")
close = btc['close']

roll5 = close.rolling(5)
mean5 = roll5.mean()
print(mean5)

# 5일간의 평균을 계산하기때문에 최초 4일은 계산 값이 없이 NaN 으로 표시

time
2013-12-27 00:00:00           NaN
2013-12-28 00:00:00           NaN
2013-12-29 00:00:00           NaN
2013-12-30 00:00:00           NaN
2013-12-31 00:00:00      756000.0
                          ...
2023-02-26 00:00:00    31049000.0
2023-02-27 00:00:00    31101400.0
2023-02-28 00:00:00    31052600.0
2023-03-01 00:00:00    31041200.0
2023-03-02 11:00:00    31160000.0
Name: close, Length: 3263, dtype: float64

In [35]:
# 상승장 하락장 파악

btc = pb.get_ohlcv("BTC")
close = btc['close']

roll5 = close.rolling(5)
mean5 = roll5.mean()
last_mean5 = mean5[-2]

# 비트 코인 현재값
price = pb.get_current_price('BTC')

#비교
if price > last_mean5:
    print('상승장')
else:
    print('하락장')

상승장

In [ ]:
# 스타벅스 크롤링

from selenium import webdriver
import time
from bs4 import BeautifulSoup as bs   # 페이지 정제
from selenium.webdriver.common.by import By

url = 'https://www.starbucks.co.kr/store/store_map.do'

driver = webdriver.Chrome('chromedriver.exe')

driver.get(url)

In [ ]:
# 파이썬으로 브라우저에서 단추 클릭하기

area_btn = '#container > div > form > fieldset > div > section > article.find_store_cont > article > header.loca_search > h3 > a'
driver.find_element(By.CSS_SELECTOR, area_btn).click()

time.sleep(2)

seoul_btn = '#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a'
driver.find_element(By.CSS_SELECTOR, seoul_btn).click()

time.sleep(2)

all_btn = '#mCSB_2_container > ul > li:nth-child(1) > a'
driver.find_element(By.CSS_SELECTOR, all_btn).click()

time.sleep(3)

In [ ]:
txt = driver.page_source
html = bs(txt)  # 문법 주의

In [ ]:
len(html.select('li'))

In [ ]:

len(html.select('li.quickResultLstCon'))

In [ ]:
from pprint import pprint

shops = html.select('li.quickResultLstCon')

shop = shops[0]

pprint(shop)